* {
		box-sizing: border-box;
	}
body {
  color: hsl(0,0%,100%);
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	line-height: 1.8;
}
header {
	padding: 0rem 6rem 0rem 6rem;
}
article {
	padding: 4rem 6rem 4rem 6rem;
}
footer {
  text-align: center;
	padding: 0rem 6rem 6rem 6rem;
}
h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	color: hsl(200,50%,30%);
}
h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
}
h3 {
	color: hsl(0,0%,100%);
	font-family: 'Nunito', sans-serif;
	font-size: 1.0rem;
	line-height: 1.5;
}
section {
	color: hsl(0,0%,100%);
	font-family: 'Nunito', sans-serif;
	font-size: 1.0rem;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: hsl(200,50%,30%);
	transition: color 0.2s;
}
a:hover {
  color: hsl(37,100%,42%);
}
img[src='./images/profile.jpg'] {
	width: 100%;
	max-width: 120px;
}
.home-background {
	background-image: url('../images/home-background.jpg');
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}
.about-background {
	background-image: url('../images/about-background.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}
.writing-background {
	background-image: url('../images/writing-background.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}
.testimonials-background {
	background-image: url('../images/testimonials-background.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: left top;
}
.hidden {
	position: relative;
	left: -10000px;
	top: auto;
}
.hidden:focus {
	left: 0px;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.bio-background {
	background-image: url('../images/bio.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.contact-background {
	background-image: url('../images/contact.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.button {
	color: 	hsl(0,0%,100%);
	border: 2px solid white;
	border-radius: 5px;
	padding: 0.3rem 1rem 0.3rem 1rem;
	margin: 0rem 2rem 0rem 2rem;
	height: 3rem;
	background-color: hsla(0, 0%, 0%, 0.5);
	transition: background-color 0.2s;
}
.button:hover {
	background-color: hsl(0,0%,100%);
}
.work-sans {
	font-family: 'Work Sans',sans-serif;
	color: hsl(200,50%,30%);
}
.large {
	font-size: 1.2rem;
}
.header-container {
	display: grid;
	grid-template: auto / auto auto;
}
.header-item-1 {
	grid-area: 1 / 1 / 2 / 2;
}
.header-item-2 {
	grid-area: 1 / 2 / 2 / 3;
	padding: 0.2rem 0rem 0rem 0rem;
}
.nav-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	align-content: right;
	text-align: right;
}
.nav-item {
  padding: 0rem 0rem 1rem 4rem;
	margin: 0rem;
	text-align: right;
}
.footer-grid {
	display: grid;
	grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
	justify-content: space-between;
}
.footer-item-1 {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
}
.footer-item-2 {
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
}
.footer-item-3 {
	grid-area: 1 / 3 / 2 / 4;
	text-align: center;
}
.footer-item-4 {
	grid-area: 1 / 4 / 2 / 5;
	text-align: center;
}
.footer-item-5 {
	grid-area: 1 / 5 / 2 / 6;
	text-align: center;
}
.home-grid {
	display: grid;
	grid-template: auto auto auto / 15rem auto 15rem;
	justify-content: space-between;
}
.home-item-1 {
	grid-area: 1 / 1 / 4 / 2;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.home-item-2 {
	grid-area: 1 / 2 / 2 / 3;
	padding: 4rem 0rem 4rem 0rem;
}
.home-item-3 {
	grid-area: 2 / 2 / 3 / 3;
}
.home-item-4 {
	grid-area: 3 / 2 / 4 / 3;
	text-align: center;
}
.home-item-5 {
	grid-area: 1 / 3 / 4 / 4;
}
.skill-grid {
	display: grid;
	grid-template: auto auto auto / auto;
	justify-content: right;
	align-content: space-between;
}
.skill-item-1 {
	grid-area: 1 / 1 / 2 / 2;
	padding: 0rem 1rem 0rem 1rem;
	margin: 0rem 0rem 2rem 0rem;
	background-color: hsla(0, 0%, 0%, 0.5);
}
.skill-item-2 {
	grid-area: 2 / 1 / 3 / 2;
	padding: 0rem 1rem 0rem 1rem;
	margin: 0rem 0rem 2rem 0rem;
	background-color: hsla(0, 0%, 0%, 0.5);
}
.skill-item-3 {
	grid-area: 3 / 1 / 4 / 2;
	padding: 0rem 1rem 0rem 1rem;
	margin: 0rem 0rem 2rem 0rem;
	background-color: hsla(0, 0%, 0%, 0.5);
}
.about-grid {
	display: grid;
	grid-template: auto auto auto / 35% 500px;
	justify-content: center;
}
.about-item-1 {
	grid-area: 1 / 1 / 2 / 3;
	margin: 4rem 0rem 4rem 0rem;
}
.about-item-2 {
	grid-area: 2 / 1 / 3 / 3;
}
.about-item-3 {
	grid-area: 3 / 1 / 4 / 2;
}
.about-item-4 {
	grid-area: 3 / 2 / 4 / 3;
	text-align: center;
	margin: 2rem 0rem 0rem 2rem;
}
.writing-grid {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr;
}
.writing-item-1 {
	grid-area: 1 / 1 / 2 / 3;
	padding: 4rem 0rem 4rem 0rem;
}
.writing-item-2 {
	grid-area: 2 / 1 / 3 / 2;
}
.writing-item-3 {
	grid-area: 3 / 1 / 4 / 2;
}
.testimonials-grid {
	display: grid;
	grid-template: auto auto auto auto / 2fr 1fr 3fr 3fr 2fr 2fr;
}
.testimonials-item-1 {
	grid-area: 1 / 1 / 2 / 7;
	padding: 4rem 0rem 4rem 0rem;
}
.testimonials-item-2 {
	grid-area: 2 / 1 / 3 / 4;
	padding: 0rem 0rem 2rem 0rem;
}
.testimonials-item-3 {
	grid-area: 3 / 2 / 4 / 5;
	padding: 0rem 0rem 2rem 0rem;
}
.testimonials-item-4 {
	grid-area: 4 / 3 / 5 / 6;
	padding: 0rem 0rem 2rem 0rem;
}
img[src='./images/dna-icon-small.png'] {
	max-width: 120px;
}
.nav-container label, #hamburger {
	display: none;
}
@media only screen and (min-width: 1000px) and (max-width: 1350px){
	header {
		padding: 0rem 4rem 0rem 4rem;
	}
	article {
		padding: 0rem 4rem 4rem 4rem;
	}
	footer {
		padding: 0rem 4rem 0rem 4rem;
	}
	.header-container {
	  grid-template: auto / auto auto;
	}
	.nav-container {
	  flex-direction: row;
	  align-items: flex-end;
	}
	.footer-grid {
		display: grid;
		grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
		justify-content: space-between;
	}
	.footer-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		text-align: center;
	}
	.footer-item-2 {
		grid-area: 1 / 2 / 2 / 3;
		text-align: center;
	}
	.footer-item-3 {
		grid-area: 1 / 3 / 2 / 4;
		text-align: center;
	}
	.footer-item-4 {
		grid-area: 1 / 4 / 2 / 5;
		text-align: center;
	}
	.footer-item-5 {
		grid-area: 1 / 5 / 2 / 6;
		text-align: center;
	}
	.home-grid {
		display: grid;
		grid-template: auto auto auto auto / 10rem auto;
	}
	.home-item-1 {
		grid-area: 1 / 1 / 5 / 2;
	}
	.home-item-2 {
		grid-area: 1 / 2 / 2 / 3;
		text-align: center;
		padding: 2rem 0rem 2rem 0rem;
	}
	.home-item-3 {
		grid-area: 2 / 2 / 3 / 3;
	}
	.home-item-4 {
		grid-area: 3 / 2 / 4 / 3;
	}
	.home-item-5 {
		grid-area: 4 / 2 / 5 / 3;
		text-align: left;
	}
	.skill-grid {
		display: grid;
		grid-template: auto / 1fr 1fr 1fr;
	}
	.skill-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		margin: 0rem 2rem 0rem 0rem;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	.skill-item-2 {
		grid-area: 1 / 2 / 2 / 3;
		margin: 0rem 1rem 0rem 1rem;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	.skill-item-3 {
		grid-area: 1 / 3 / 2 / 4;
		margin: 0rem 0rem 0rem 2rem;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	.about-grid {
		display: grid;
		grid-template: auto auto auto auto / 70%;
		justify-content: right;
	}
	.about-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		margin: 2rem 0rem 2rem 0rem;
	}
	.about-item-2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.about-item-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.about-item-4 {
		grid-area: 4 / 1 / 5 / 2;
		text-align: left;
		margin: 0rem;
	}
	.writing-grid {
		display: grid;
		grid-template: auto auto auto / 3fr 2fr;
	}
	.writing-item-1 {
		grid-area: 1 / 1 / 2 / 3;
		padding: 2rem 0rem 2rem 0rem;
	}
	.writing-item-2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.writing-item-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.testimonials-grid {
		display: grid;
		grid-template: auto auto auto auto / 2fr 1fr;
	}
	.testimonials-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		padding: 2rem 0rem 2rem 0rem;
	}
	.testimonials-item-2 {
		grid-area: 2 / 1 / 3 / 2;
		padding: 0rem 0rem 1rem 0rem;
	}
	.testimonials-item-3 {
		grid-area: 3 / 1 / 4 / 2;
		padding: 0rem 0rem 1rem 0rem;
	}
	.testimonials-item-4 {
		grid-area: 4 / 1 / 5 / 2;
		padding: 0rem 0rem 1rem 0rem;
	}
}
@media only screen and (max-width: 999px){
	body {
		font-size: 1rem;
	}
	header {
		padding: 0rem 1rem 0rem 1rem;
	}
	article {
		padding: 0rem 1rem 2rem 1rem;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	footer {
		padding: 2rem 1rem 0rem 1rem;
	}
	h1 {
		font-size: 0.8rem;
	}
	.header-container {
	  display: grid;
	  grid-template: auto / auto auto;
	}
	.header-item-1 {
		padding: 0.5rem 0rem 0rem 0rem;
	}
	.nav-container {
	  flex-direction: column;
	  align-items: flex-end;
		justify-content: flex-start;
	}
	.footer-grid {
		display: grid;
		grid-template: auto auto auto / auto;
		justify-content: center;
	}
	.footer-item-1 {
		grid-area: 2 / 1 / 3 / 2;
		text-align: center;
	}
	.footer-item-2 {
		grid-area: 1 / 1 / 2 / 2;
		text-align: center;
		margin: 1rem 1rem 1rem 1rem;
	}
	.footer-item-3 {
		grid-area: 3 / 1 / 4 / 2;
		text-align: center;
		margin: 1rem 1rem 1rem 1rem;
	}
	.footer-item-4 {
		grid-area: 5 / 1 / 6 / 2;
		text-align: center;
		margin: 1rem 1rem 1rem 1rem;
	}
	.footer-item-5 {
		grid-area: 4 / 1 / 5 / 2;
		text-align: center;
	}
	.home-grid {
		display: grid;
		grid-template: auto auto auto auto / 1fr 1fr;
	}
	.home-item-1 {
		grid-area: 4 / 1 / 5 / 2;
		align-items: center;
	}
	.home-item-2 {
		grid-area: 1 / 1 / 2 / 3;
		text-align: left;
		padding: 0rem;
	}
	.home-item-3 {
		grid-area: 2 / 1 / 3 / 3;
	}
	.home-item-4 {
		grid-area: 3 / 1 / 4 / 3;
	}
	.home-item-5 {
		grid-area: 4 / 2 / 5 / 3;
	}
	.skill-grid {
		display: grid;
		grid-template: 1fr 1fr 1fr / 15rem;
		justify-content: left;
	}
	.skill-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		padding: 0rem;
		margin: 0rem;
		background-color: hsla(0, 0%, 0%, 0);
	}
	.skill-item-2 {
		grid-area: 2 / 1 / 3 / 2;
		padding: 0rem;
		margin: 0rem;
		background-color: hsla(0, 0%, 0%, 0);
	}
	.skill-item-3 {
		grid-area: 3 / 1 / 4 / 2;
		padding: 0rem;
		margin: 0rem;
		background-color: hsla(0, 0%, 0%, 0);
	}
	.about-grid {
		display: grid;
		grid-template: auto auto auto auto / 100%;
		justify-content: center;
	}
	.about-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		margin: 0rem;
	}
	.about-item-2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.about-item-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.about-item-4 {
		grid-area: 4 / 1 / 5 / 2;
		text-align: center;
		margin: 0rem;
		padding: 2rem;
	}
	.writing-grid {
		display: grid;
		grid-template: auto auto auto / auto;
	}
	.writing-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		padding: 0rem;

	}
	.writing-item-2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.writing-item-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.testimonials-grid {
		display: grid;
		grid-template: auto auto auto auto / auto;
	}
	.testimonials-item-1 {
		grid-area: 1 / 1 / 2 / 2;
		padding: 0rem;
	}
	.testimonials-item-2 {
		grid-area: 2 / 1 / 3 / 2;
		padding: 0rem;
	}
	.testimonials-item-3 {
		grid-area: 3 / 1 / 4 / 2;
		padding: 0rem;
	}
	.testimonials-item-4 {
		grid-area: 4 / 1 / 5 / 2;
		padding: 0rem;
	}
	.nav-container label {
		display: inline;
		color: black;
		font-style: normal;
		font-size: 1.5rem;
	}
	.nav-item {
		position: relative;
		left: -10000px;
		padding: 0rem 0rem 1rem 0rem;
	}
	.nav-container input:checked ~ .nav-item {
		left: 0px;
	}
	.home-background {
		background-attachment: scroll;
	}
	.about-background {
		background-attachment: scroll;
	}
	.writing-background {
		background-attachment: scroll;
	}
	.testimonials-background {
		background-attachment: scroll;
	}
	img[src='./images/dna-icon-small.png'] {
		width: 0%;
	}
}
